{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DAA PROJECT</title>
    <link rel="stylesheet" "type=text/css" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts3/material-design-iconic-font/css/material-design-iconic-font.min.css'%}">
    <link rel="stylesheet" href="{% static 'css4/style.css'%}">
    <link href="{% static 'css1/style.css'%}"  rel="stylesheet"  type="text/css" >
    <link href="{% static 'css1/style2.css' %}"  rel="stylesheet"  type="text/css" >

    <!--[if lt IE 9]>
      <script src="{% static 'rk/js/vendor/html5shiv.min.js' %} "></script>
      <script src="{% static 'rk/js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8000/index/" ><img src="{% static 'img/dope.png'%}"></a>

        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#" data-nav-section="features">REAL LIFE IMPLEMENTATION OF DIJKSTRA ALGORITHM</a></li>

          </ul>
        </div>
      </div>

    </nav>

    <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image:url({% static 'img/MAP2.jpg'%});" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="probootstrap-heading probootstrap-animate">ENTER start and end destination</h1>
  		        <div class="login-form">
				        <form  action="ADDITION" method="GET" class="probootstrap-heading probootstrap-animate">
                  <div class="left-w3-agile">
                  <select class="form-control" name='stan'>
                  
                    <option value=0>Jd women’s college </option>
                    <option value=1>Dav public school </option>
                    <option value=2>B.D.P school</option>
                    <option value=3>Study centre </option>
                    <option value=4>ICFAUI university </option>
                    <option value=5>Kurukshetra University  </option>
                    <option value=6>International school  </option>
                    <option value=7>Bal Bharti public school  </option>
                    <option value=8>Indian public school  </option>
                    <option value=9>RKD college </option>
                   
                    


                  </select>  					
                  </div>

                  <div class="right-agileits">
                  <select class="form-control" name='ap_by'>
                    
                    <option value=0>Jd women’s college </option>
                    <option value=1>Dav public school </option>
                    <option value=2>B.D.P school</option>
                    <option value=3>Study centre </option>
                    <option value=4>ICFAUI university </option>
                    <option value=5>Kurukshetra University  </option>
                    <option value=6>International school  </option>
                    <option value=7>Bal Bharti public school  </option>
                    <option value=8>Indian public school  </option>
                    <option value=9>RKD college </option>
                    
                    
                    
              
                  </select>
                  </div>
					        <input type="submit" value="Submit">
				        </form>
			        </div>
			      </div>
			    </div>
			  </div>
      </div>
		</div>
	</div>
</div>
</section>
<script src="{% static 'js/scripts.min.js'%}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>