{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DAA PROJECT</title>
    <link rel="stylesheet" "type=text/css" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css'%}">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts3/material-design-iconic-font/css/material-design-iconic-font.min.css'%}">
    <link rel="stylesheet" href="{% static 'css4/style.css'%}">
    <link href="{% static 'css1/style.css'%}"  rel="stylesheet"  type="text/css" >
    <link href="{% static 'css1/style2.css' %}"  rel="stylesheet"  type="text/css" >

    <!--[if lt IE 9]>
      <script src="{% static 'js/vendor/html5shiv.min.js' %} "></script>
      <script src="{% static 'js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8000/index/" ><img src="{% static 'img/dope.png'%}"></a>

        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#" data-nav-section="Leaders">REAL LIFE IMPLEMENTATION OF DIJKSTRA ALGORITHM</a></li>

          </ul>
        </div>
      </div>

    </nav>

    <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#Leadersbootstrap-slant" style="background-image:url({% static 'img/bomb1.jpg'%});" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="probootstrap-heading probootstrap-animate">PREPARED BY<br >RAJ KRISHNA</h1>
  		
 
        <div class="row text-center mb100">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">MAPS WITH DJANGO<br><h4>MINIMUM DISTANCE FINDER</h4></h2>

          </div>
        </div>
        <!-- END row -->
        
<script src="{% static 'js/scripts.min.js'%}"></script>
<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>
